<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.edu.ucu.android.tramitesuy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".controller.MainMenuActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ProceedingsProvider"
            android:authorities="uy.edu.ucu.android.tramitesuy"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true" />

        <service
            android:name=".controller.MyIntentService"
            android:exported="false" />

        <receiver
            android:name=".controller.MyBroadcastReceiver"
            android:exported="@string/title_activity_my_broadcast_receiver"
            android:parentActivityName=".controller.Login" >
            <intent-filter>
                <action android:name="uy.edu.ucu.android.servicedemo.service.receiver.PROGRESS" />
                <action android:name="uy.edu.ucu.android.servicedemo.service.receiver.FINISHED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".controller.ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName=".controller.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainMenuActivity" />
        </activity>
        <activity
            android:name=".controller.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".controller.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".controller.ProceedingDetailAdapter"
            android:label="@string/title_activity_proceeding_detail_adapter" >
        </activity>
    </application>

</manifest>
